html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
}

main {
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
