.urls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.25rem -0.75rem;
}

.url-item {
  display: flex;
  align-items: flex-start;
  width: 354px;
  max-width: 100%;
  padding: 0.5rem;
  margin: 0.125rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ccc;

  a {
    flex-grow: 1;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: inherit;
  }

  h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  button {
    font-size: 1.25rem;
  }
}
